#root {
  display: grid;
  grid-template-columns: 400px 5fr;
  width: 100%;
}
.sidebar {
  height: 100vh;
  border-right: 1px solid #9e9e9e;
  z-index: 10;
  box-shadow: 2px 0px 5px #00000025;
}
.calendarContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.dayHeaders {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .dayHeaders {
    display: none;
  }
}
