.Calendar {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  height: 100%;
  width: 100%;
}

.calendarContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0px;
  overflow: hidden;
}

.day {
  color: #595959;
  border: 1px solid #d9d9d9;
  padding: 0.25rem;
  min-height: 0px;
  overflow: hidden;
}
.today {
  background: #d1eaff;
}

.selectedDay {
  background: #e8fcff;
}
.extraneous {
  color: #a6a6a6;
  opacity: 50%;
  border: 1px solid #f4f4f4;
}
.dayHeader {
  font-family: "Comfortaa", sans-serif;
  display: flex;
  justify-content: space-between;
  position: relative;
  .addShift {
    z-index: 3;
    position: absolute;
    top: 3px;
    right: 3px;
    opacity: 0%;
    color: #4eba70;
    background: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 2rem;
    text-align: center;
    line-height: 100%;
    border: 1px solid rgb(233, 233, 233);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.219);
  }
}
.day:hover {
  .addShift {
    transition: 100ms;
    opacity: 100%;
    display: block;
    cursor: pointer;
  }
}
.shifts {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 3px;
  position: relative;
  height: 100%;
}
/* .shifts::after {
  content: linear-gradient(rgba(0, 0, 0, 0) 30%, white 70%);
  position: absolute;
  height: 40%;
  width: 110%;
  left: -5%;
  bottom: 0;
} */
.volunteerName {
  box-shadow: 1px 1px 2px #c2c2c2;
  padding: 0.25rem 0.5rem;
  border-radius: 20px;
  height: fit-content;
  transition: 100ms;
  position: relative;
}
.volunteerName:hover {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  cursor: pointer;
}

.volunteerName::after {
  content: ">";
  position: absolute;
  color: inherit;
  height: 100%;
  width: 15px;
  line-height: 32px;
  text-align: right;
  padding-right: 0.5rem;
  background: inherit;
  top: 0;
  left: 98%;
  z-index: 1;
  transition: 100ms;
  transition-delay: 0ms;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  clip-path: circle(50% at -400% 50%);
}
.volunteerName:hover::after {
  clip-path: circle(80% at 60% 50%);
  display: block;
  box-shadow: 2px 1px 2px #c2c2c2;
}

/* Black Fade */
/* .volunteerName::after {
  content: "";
  width: 100%;
  height: 100%;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50px;
  opacity: 0%;
  transition: 200ms;
}
.volunteerName:hover::after {
  opacity: 10%;
  transition: 200ms;
  box-shadow: 0px 0px 2px 2px rgb(0, 0, 0);
} */

/* Popup ellipsis */
/* .volunteerName::after {
  position: absolute;
  z-index: 3;
  opacity: 0%;
  top: 20px;
  right: -15px;
  content: "...";
  height: 10px;
  width: 30px;
  color: #9e9e9e;
  text-align: center;
  border-radius: 10px;
  background: white;
  line-height: 0;
  border: 1px solid rgb(233, 233, 233);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.219);
  transition: 200ms;
}
.volunteerName:hover::after {
  opacity: 100%;
} */

.Keyholder {
  background: #f0c518;
  color: #404040;
}
.Greeter {
  background: #4eba70;
  color: #404040;
}
.MechanicalAdvisor {
  background: #2e95bf;
  color: white;
}
.ShopUserSupport {
  background: #955ba6;
  color: white;
}
.TaskSupport {
  background: #f25a5a;
  color: white;
}
.Other {
  background: #55638b;
  color: white;
}

@media (max-width: 1024px) {
  .Calendar {
    grid-template-columns: 1fr;
  }
  .extraneous {
    display: none;
  }
  .calendarContainer {
    overflow: visible;
    min-height: 100px;
  }
  .day {
    overflow: hidden;
    min-height: 100px;
  }
}

@keyframes slideIn {
  from {
  }
  to {
    clip-path: circle(50% at 50% 50%);
  }
}
