.Calendar {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  height: 100%;
  width: 100%;
}

.calendarContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0px;
  overflow: hidden;
}

.day {
  color: #595959;
  border: 1px solid #d9d9d9;
  padding: 0.25rem;
  min-height: 0px;
  overflow: hidden;
}
.today {
  background: #d1eaff;
}

.selectedDay {
  background: #e8fcff;
}
.extraneous {
  color: #a6a6a6;
  opacity: 50%;
  border: 1px solid #f4f4f4;
}
.dayHeader {
  font-family: "Comfortaa", sans-serif;
  display: flex;
  justify-content: space-between;
  position: relative;
  .addShift {
    z-index: 3;
    position: absolute;
    top: 3px;
    right: 3px;
    display: none;
    color: #4eba70;
    background: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 2rem;
    text-align: center;
    line-height: 100%;
    border: 1px solid rgb(233, 233, 233);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.219);
  }
}
.day:hover {
  .addShift {
    display: block;
  }
}
.shifts {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  gap: 3px;
  position: relative;
  height: 100%;
}
/* .shifts::after {
  content: linear-gradient(rgba(0, 0, 0, 0) 30%, white 70%);
  position: absolute;
  height: 40%;
  width: 110%;
  left: -5%;
  bottom: 0;
} */
.volunteerName {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  padding: 0.25rem 0.5rem;
  border-radius: 20px;
  height: fit-content;
}
.Keyholder {
  background: #f0c518;
  color: #404040;
}
.Greeter {
  background: #4eba70;
  color: #404040;
}
.MechanicalAdvisor {
  background: #2e95bf;
  color: white;
}
.ShopUserSupport {
  background: #955ba6;
  color: white;
}
.TaskSupport {
  background: #f25a5a;
  color: white;
}
.Other {
  background: #55638b;
  color: white;
}

@media (max-width: 1024px) {
  .Calendar {
    grid-template-columns: 1fr;
  }
  .extraneous {
    display: none;
  }
  .calendarContainer {
    overflow: visible;
    min-height: 100px;
  }
  .day {
    overflow: hidden;
    min-height: 100px;
  }
}
